ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0px; /*убираем верхнее и нижнее поле, равное 1em*/
    padding: 2px;
}
a {text-decoration: none; /*убираем подчеркивание текста ссылок*/}
li {
    display: inline;
    margin: 40px;
}
img{
    width: 1280px;
    height: 790px;
}

.menu{
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 400px;
    color: #16a085;
    font-family: "Roboto";
    font-weight: 900;
}
.paragraph div{
    width: 1060px;
    height: 409px;
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 26px;
    color: #373737;
    font-family: "Roboto";
    font-weight: 900;
    text-align: center;
}